// FONTS
$primaryFontRegular: 'Roboto-Regular';
$primaryFontBold: 'Roboto-Bold';

$primaryFontItalic: 'Roboto-Italic';

//COLOR
$neutral: #F3F2ED;
$accent-dark: #84522A;
$black: #2C2A27;
$primary: #AD764B;