@font-face {
    font-family: Roboto-Bold;
    font-display: auto;
    src: local('Roboto-Bold'), url(../fonts/Roboto-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: Roboto-Italic;
    font-display: auto;
    src: local('Roboto-Italic'), url(../fonts/Roboto-Italic.ttf);
    font-style: normal;
}
@font-face {
    font-family: Roboto-Regular;
    font-display: auto;
    src: local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf);
    font-style: normal;
}