.container
    .left-wrapper
        .header 
            img(src="https://sun9-62.userapi.com/impg/sbficdhkWSPeaakccM_NS5KE2pClEP9hgBKUTg/7LtJOrorDqQ.jpg?size=960x1200&quality=96&sign=08fb0e279156ad45958d093845db0079&type=album", alt="me1")
            h3 About
            p I am looking for an interesting job in which I will completely immerse myself and constantly progress.
            
        include ./progress.html    
        .s_media
            h3 Social media
            .inst 
                img(src="https://cdn-icons-png.flaticon.com/512/1363/1363042.png", alt="map")
                a(href="https://www.instagram.com/katerina_dvdnk/")  katerina_dvdnk 
            .tlgm    
                img(src="https://cdn-icons-png.flaticon.com/512/906/906377.png", alt="phone")
                a(href="https://t.me/katerina_dvdnk")  katerina_dvdnk 
            .lnkd    
                img(src="https://cdn-icons-png.flaticon.com/512/145/145807.png", alt="mail")
                a(href="https://www.linkedin.com/in/katerina-dvdnk/")  Katerina Dovydenko
    .timeline
        .dots 
        .line
    .right-wrapper
        .header 
            h2 junior frontend developer
            h1 Katerina Dovydzenko
        .expr 
            h3 experience
            .item 
                num 2020 - 2022
                b Leading Specialist
                p Leading Specialist BSUPK, center for coordination of scientific and information activities Provision of document flow of the department; registration of incoming and outgoing documentation; archiving of documents. Interaction with the secretariat, structural units on document flow issues. Maintaining the personal files of graduate students and applicants.
                    
            //- .item_2 
            //-     num 2016 - 2021
            //-     b  Senior UI/UX Product Designer
            //-     p Senior UI/UX Product DesignerCompany nameCreate User experience and visual designs for app-based applications and define an overarching visual language and style guide.
                    
            //- .item_3 
            //-     num 2016 - 2021
            //-     b  Senior UI/UX Product Designer
            //-     p Senior UI/UX Product DesignerCompany nameCreate User experience and visual designs for app-based applications and define an overarching visual language and style guide.
                    
        .edkt 
            h3 education
            .item 
                num 2016 - 2020
                b Environmental Expert
                p BSU, Faculty of Environmental Medicine, Department of Radiobiology. Graduated with honors.
                    
            .item_2 
                num 2020 - 2021
                b Frontend Developer
                p I have successfully completed the courses with the appropriate certificates.
                    
            //- .item_3
            //-     num 2016 - 2021
            //-     b  Senior UI/UX Product Designer
            //-     p Senior UI/UX Product DesignerCompany nameCreate User experience and visual designs for app-based applications and define an overarching visual language and style guide.
                    
        .projects
            h3 my projects 
            .item 
                num 2020 - 2021
                b  GitHub
                a(href="https://github.com/Katerina-DI")  Katerina-DI
                    
            //- .item_2 
            //-     num 2016 - 2021
            //-     b  Senior UI/UX Product Designer
            //-     p Senior UI/UX Product DesignerCompany nameCreate User experience and visual designs for app-based applications and define an overarching visual language and style guide.
        


